div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

ul {
  background: lightblue;
  width: 50%;
}
li span {
  position: relative;
  left: -10px;
}

p {
  color: red;
}
